* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

:root{
    --primary-color: #000000;
    --secondary-color: #101010;
    --Third-color: #121212;
    --fourth-color: #1F1F1F;
}

html, body{
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}


/* main container  */

.container {
    display: flex;
    width: 100%;
    height: 100%;
}


/* left container */

.Left-container{
    width: 21.5%;
    height: 100%;
    /* border: 2px solid white; */
    position: sticky;
    background: rgb(0, 0, 0);
}


/* left container part 1 */

.left-container-part-1{
    background-color: var(--Third-color);
    height: 21%;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.6em 0.8em;
}

.left-container-part-1 .logo{
    width: 6.8em; 
}

.left-container-part-1 .logo img{
    width: 100%;
    cursor: pointer;

}

.left-container-part-1 ul{
    list-style-type: none;
}

.left-container-part-1 ul li {
    padding: 0.7em 0.8em;
}

.left-container-part-1 ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.0em;
}

.left-container-part-1 ul li a span{
    color: #fff;
    margin-right: 0.5em;
}

.left-container-part-1 ul li a span i{
    margin-right: 0.5em;
    font-size: 1.3em;
}

.bold span{
    opacity: 0.6;
}

.bold span:hover{
    opacity: 1;
}

.home:hover{
    opacity: 1;
    border-bottom: 1px solid #fff;
}


.search:hover{
    opacity: 1;
    border-bottom: 1px solid #fff;
    
}

/* left container part 2 */

.left-container-part-2{
    background-color: var(--Third-color);
    height: 66%;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.6em 0.8em;
}

.library{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B3B3B3;
    font-size: 1rem;
    padding: 0.7rem;
}

.icon-library span i{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 0.6rem;
}

.icon-library span{
    cursor: pointer;
}

.icon-library span:hover{
    color: #fff;
}

.plus-icon span i:hover{
    color: #fff;
}

.plus-icon span i{
    cursor: pointer;
}

.icon-library{
    position: relative;
    display: inline-block;
}

.collapse-content{
    display: none;
    position: absolute;
    top: -150%;
    left: -40%;
    transform: translateX(30%);
    padding: 0.3rem;
    background-color: #333232;
    color: #f1f1f1;
    border: 0.1rem solid #333232;
    border-radius: 0.3rem;
}

.plus-icon{
    position: relative;
    display: inline-block;
}


.collapse-plus-icon{
        display: none;
        position: absolute;
        top: -230%;
        left: -999%;
        transform: translateX(21%);
        padding: 0.3rem;
        background-color: #333232;
        color: #f1f1f1;
        border: 0.1rem solid #333232;
        border-radius: 0.3rem;
}
  
    
.click-on .plus-click{
    display: inline-block;
}
    
.click-on{
        display: none;
        position: absolute;
        top: 200%;
        left: -1100%;
        transform: translateX(0%);
        padding: 0.7rem 0.7rem;
        background-color: #333232;
        color: #f1f1f1;
        border: 0.1rem solid #333232;
        border-radius: 0.3rem;
        font-size: 1rem;
        z-index: 30;
}


/* scroll bar in paragraph with content */

.create-playlist{
    background: var(--fourth-color);
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 1.4rem;
    margin-top: 1.2rem;
    border-radius: 0.5rem;
}

.sidebar-scrollbar{
    height: 13.6rem;
    overflow-y: auto;
}

.sidebar-scrollbar::-webkit-scrollbar{
    background: transparent;
    width: 0.8em;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb{
    background: transparent;
}

.sidebar-scrollbar:hover::-webkit-scrollbar-thumb{
    background: #5c5757;  
}

.sidebar-scrollbar:active::-webkit-scrollbar-thumb{
    background: #B3B3B3;
}

.bold{
    font-weight: bolder;
    margin: 0.2rem 0rem 0.5rem 0rem;
}

.light-para{
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
}

.scroll-btn{
    margin: 0.6rem 0rem 0.5rem 0rem;
    padding: 0.5rem 1.2rem;
    border: #fff;
    border-radius: 0.9rem;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

.scroll-btn:hover{
    transform: scale(1.1);
}

/* End part of left container  */

.privacy{
    margin: 0.2rem;
}

.privacy ul li a{
    text-decoration: none;
    color: #B3B3B3;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0rem 0.4rem;
}

.privacy ul{
    list-style-type: none;
    margin-top: 1rem;
}

.privacy ul li{
    padding: 0.3rem;
    margin-top: 0.2rem;
}

.cookies a:hover{
    text-decoration: underline;
}

.eng-btn{
    margin: 1.8rem 1rem;
}

.eng-btn button{
    padding: 0.3rem 0.7rem;
    border: 0;
    color: #fff;
    background: transparent;
    outline: none;
    border: 1px solid #818080;
    border-radius: 0.9rem;
    font-size: 0.9rem;
    font-weight: bold;
    /* border-radius: 1px; */
}

.eng-btn button i{
    font-size: 1.2rem;
    margin: 0.4rem 0.2rem;
}

.eng-btn button:hover{
    transform: scale(1.1);
    cursor: pointer;
}




/* Right container */

.Right-container{
    width: calc(78.5% - 0%);
    position: relative;
    height: 88%;
    background-image: linear-gradient(180deg, #1E1E1E 0%, #121212 21%);
    border-radius: 0.5rem;
    margin: 0.5rem 0.4rem 0.5rem 0rem;
}

/* Navbar Section */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 10%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    padding: 0rem 1.3rem;
}

.arrows i{
    color: grey;
    background-color: #0A0A0A;
    font-size: 1.7em;
    border: 0.2rem solid #0A0A0A;
    border-radius: 50%;
    cursor: not-allowed; 
    margin: 0.2rem;
}

.accountSet{
    margin-right: 1rem ;
}

.nav-link{
    padding: 0.7rem 1.8rem;
    margin: 0rem 0,8rem 0rem 0rem;
    font-size: 1rem;
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 2rem;
    color: #000000;
    font-weight:600;
    cursor: pointer;
}

.sign-up{
    background: none;
    border:none;
    color: #B3B3B3;
}

.nav-link:hover{
    transform: scale(1.1);
}

.sign-up:hover{
    color: #fff;
}


/* main content of right side container */

/* Popular Artists */

.spotify-playlist{
    margin-top: 2.8rem;
    color: #fff;
}

.card{
    
}











/*  footer  */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 99.1%;
    height: 9%;
    background-color: var(--fourth-color);
    margin: 0.5rem 2rem 0.5rem 0.5rem;
    bottom: 0;  
    background: rgb(174,41,150);
    background: -moz-linear-gradient(90deg, rgba(174,41,150,0.6924019607843137) 0%, rgba(81,154,244,0.7344187675070029) 100%);
    background: -webkit-linear-gradient(90deg, rgba(174,41,150,0.6924019607843137) 0%, rgba(81,154,244,0.7344187675070029) 100%);
    background: linear-gradient(90deg, rgba(174,41,150,0.6924019607843137) 0%, rgba(81,154,244,0.7344187675070029) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae2996",endColorstr="#519af4",GradientType=1);
    padding: 0rem 1rem;
}

.footer-title{
    color: #FFFCFC;
}

.footer-content{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    padding: 0.1rem;
}

.content-line{
    font-size: 0.9rem;
    font-weight: 600;
}

.btn{
    padding: 0.7rem 1.7rem;
    font-size: 1rem;
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 2rem;
    color: #000000;
    font-weight:600;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}
